<!-- add course form -->
<div class="col-xs-4">
	<h2>Course Information</h2>
	<form role="form">
		<div class="form-group">
			<label for="coursename">Course Name</label>*
			<input type="text" class="form-control" id="coursename" placeholder="Enter Course Name" required>
		</div>
		<div class="form-group">
			<label for="courseID">Course ID</label>*
			<input type="text" class="form-control" id="courseID" placeholder="Enter Course ID" required>
		</div>
		<div class="form-group">
			<label for="section">Section</label>*
			<input type="text" class="form-control" id="section" placeholder="Enter Section ID" required>
		</div>
		<div class="form-group">
			<label for="period">Period</label>*
			<input type="text" class="form-control" id="period" placeholder="Enter Course Period (summer, fall, spring, etc...)" required>
		</div>					
		<div class="form-group">
			<label for="crsinfo">Course Description</label>
			<textarea class="form-control" id="crsinfo" placeholder="Enter Course Description"></textarea>
		</div>
		<h6><em>* is required</em></h6>
		<button type="submit" class="btn btn-default">Submit</button>
	</form>
</div>
<!-- end add course form-->