<!-- file submission form -->
<div class="col-xs-4">
	<h2>File Submission</h2>
	<form role="form">
		<div class="form-group">
			<label for="filename">File Name</label>*
			<input type="text" class="form-control" id="filename" placeholder="Enter File Name" required>
		</div>
		<div class="form-group">
			<label for="keyword">Keyword</label>
			<input type="text" class="form-control" id="keyword" placeholder="Enter Keyword">
		</div>
		<div class="form-group">
			<label for="filenotes">File Information</label>
			<textarea class="form-control" id="crsinfo" placeholder="Enter some other relevent information for the file"></textarea>
		</div>
		<div class="form-group">
			<label for="inputfile">File input</label>*
			<input type="file" id="inputfile" required>
		</div>
		<h6><em>* is required</em></h6>
		<button type="submit" class="btn btn-default">Submit</button>
	</form>
</div>
<!-- end file submission form -->